/*
!.gitignore

!.zprofile
!.Xresources
!.xinitrc
!.xbindkeysrc
!.vimrc
!.Xauthority
!.profile
!.bashrc
!.bash_profile

!.vim/

!.local/emoji

!.mozc/
!.anthy/
!.uim.d/

!.ncmpcpp/

!.config/
.config/spotify/
.config/discord/
.config/VirtualBox/
.config/totem/
.config/rncbc.org/
.config/procps/
.config/Notable/
.config/Electron/
.config/pulse/
.config/BraveSoftware/
.config/AllToMP3/
.config/Atom/
.config/GIMP/
.config/blender/
.config/configstore/
.config/libreoffice/
.config/libvirt/
.config/mapeditor.org/
.config/menus/
.config/mypaint/
.config/pipewire-media-session/
.config/procps/
.config/mcbc.org/
.config/session/
.config/writer/
.config/gladeui/

.config/mpd/log
.config/mpd/mpd.log

.config/QtProject.conf
.congig/mimeapps.list
.config/pavucontrol.ini
.config/monitors.xml

